.Locate-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 50vh;
}

input {
    /* width: 100%; */
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;

}

.label-input {
    display: flex;
    align-items: center;
    justify-content: end;
}